/* Header */

.btn-danger {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(204, 3, 35, 0.5);
  color: #eedb00;
}

header {
  background-color: rgba(60, 69, 67, 0.6);
  border-radius: 15px 15px 0 0;
}

h1 {
  font-size: 3em;
}

/* Main */

.border.float-end {
  border-color: #eedb00 !important;
  border-radius: 0 0 15px 15px; 
}


.float-start img {
  box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}




/* Footer */

footer {
  border-radius: 0 0 15px 15px;
  height: 6em;
  background-color: rgba(60, 69, 67, 0.6);
}

.email {
  font-size: 1.5em;
  color: black;
}#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
